################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shopping/.vs/Shopping/v17/.suo
/Shopping/Shopping.Client/bin/Debug/net6.0
/Shopping/.vs/Shopping
/Shopping/Shopping.Client/obj
/Shopping/.vs/ProjectEvaluation
/Shopping/.vscode
/Shopping/Shopping.Client/bin/Release/net6.0
/Shopping/Shopping.Client
/Shopping/Shopping.Api/obj
/Shopping/Shopping.Api/bin/Debug/net6.0
/Shopping/Shopping.Api/bin/Release/net6.0
/Shopping/obj/Docker
/Shopping/bin/Debug
