################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shopping/.vs/Shopping/v17/.suo
/Shopping/Shopping.Client/bin/Debug/net6.0
/Shopping/.vs/Shopping
/Shopping/Shopping.Client/obj
